body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, pink, hotpink);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
  line-height: 1.8;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 20px;
  white-space: normal;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

img {
  width: 280px;
  border-radius: 20px;
}

/* Floating Hearts */
.hearts span {
  position: absolute;
  color: red;
  animation: float 6s linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}


@media (max-width: 600px) {
  h1 { font-size: 28px; }
  p { font-size: 18px; }
}
#cursor {
  font-weight: bold;
  font-size: 22px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.celebration {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, hotpink, pink);
  z-index: 9999;
  text-align: center;
  padding-top: 150px;
}

.celebration h1 {
  font-size: 50px;
  color: white;
}

.celebration p {
  font-size: 24px;
}

@keyframes explode {
  from {
    transform: scale(0) translateY(0);
    opacity: 1;
  }
  to {
    transform: scale(1.5) translateY(-150px);
    opacity: 0;
  }
}


