body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, pink, hotpink);
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  overflow: hidden;
}

.container {
  max-width: 800px;          /* controls text width */
  margin: 0 auto;            /* centers the content */
  padding: 40px 20px;
  line-height: 1.8;          /* space between lines */
}


button {
  background: red;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

.no {
  opacity: 0.5;
  cursor: not-allowed;
}

.slideshow img {
  width: 250px;
  border-radius: 20px;
  margin-top: 20px;
}

/* Floating Hearts */
.hearts span {
  position: absolute;
  color: red;
  animation: float 6s linear infinite;
  font-size: 20px;
}

@keyframes float {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

